.drop-file-input {
  margin-top: 1rem;
  width: 100%;
  height: 12rem;
  padding: 2rem;
  border: 1px dashed #b1b1b1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  color: #b1b1b1;

  label {
    width: 6.5rem;
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    text-align: center;
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &::-webkit-file-upload-button {
      visibility: hidden;
      margin-top: 5rem;
    }
  }

  span {
    font-size: 12px;
  }
}

.drop-file-input__logo {
  width: 2rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
  }
}
.drop-file-input__label {
  width: 12rem;
  text-align: center;
  color: #525252;
}

.progressbar__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressbar {
  margin: 0.5rem 0;
  width: 18rem;
  height: 0.4rem;
  background-color: #eaeaea;
  border-radius: 2px;
  position: relative;

  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 2px;
    background-color: #4b9ce2;
  }
}

.uploaded-img {
  margin-top: 0.5rem;
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
  }

  .img-close-btn {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -0.5rem;
    left: 5rem;
    cursor: pointer;
    z-index: 100;

    .close-icon {
      width: 100%;
      height: 100%;
    }
  }
}
