.card {
  padding: 1rem;

  &__content {
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    color: #3e3e3e;
  }
}

.card-img {
  height: 16rem;
  
  img {
    padding: 0.1rem 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;

  h3 {
    font-size: 0.9rem;
    text-transform: capitalize;

    &:first-child {
      color: #4b9ce2;
    }
    &:last-child {
      font-weight: 400;
    }
  }
}

.card-footer {
  padding-left: 1.5rem;

  h2 {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

