.auth__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 20px;

  p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    color: #f77474;
    font-size: 0.7rem;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input {
    width: 25vw;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 1rem;
  }

  button {
    margin-top: 1rem;
    width: 25vw;
    height: 45px;
    cursor: pointer;
    color: #fff;
    background-color: #4b9ce2;
    border-radius: 8px;
  }
}

.error {
  border: 1px solid #f77474;
  background: #fff2f2;

  &::placeholder {
    color: #f77474;
  }
}

.default {
  background: #f4f4f4;
  color: #99a0a7;

  &:focus {
    border: 1px solid #4b9ce2;
    background-color: #f0f8ff;
  }
}
