$background-color: #f2f2f2;
$white: #fff;
$primary-blue: #4b9ce2;




//notification colors
$notify-success-bg: #f1fff0;
$notify-success-color: #46af32;

$notify-error-bg: #ffe5e5;
$notify-error-color: #f77474;
