@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "_variables.scss";
@import "_toastifyColors.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button,
textarea,
input,
select {
  border: none;
  outline: none;
}
