.addProduct__container {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 38rem;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  color: #525252;

  @media screen and (max-width: 480px) {
    width: 95%;
    flex-direction: column;
    height: 70rem;
  }
}

.addProduct_left {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid rgba(204, 204, 204, 0.288);

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 3rem;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    border: none;
  }
}

.submit-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  float: right;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px;
  width: 14.6rem;
  height: 2.6rem;
  cursor: pointer;
  font-family: "Nunito";
  background-color: #4b9ce2;
  color: #fff;
  z-index: 20;

  button {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 480px) {
    left: 3.5rem;
  }
}

.product-detail {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 1rem;

    &::placeholder {
      color: #99a0a7;
    }

    &:focus {
      border: 1px solid #4b9ce2;
      background-color: #f0f8ff;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

.custom-price-container {
  position: relative;
  width: 35%;
  margin-bottom: 1rem;
  div {
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 1rem;

    &::placeholder {
      color: #99a0a7;
    }

    &:focus {
      border: 1px solid #4b9ce2;
      background-color: #f0f8ff;
      &::placeholder {
        color: transparent;
      }
    }
  }

  label {
    position: absolute;
    right: 1rem;
    bottom: 1.9rem;
    color: #99a0a7;

    @media screen and (max-width: 480px) {
      bottom: 2rem;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.desc-input {
  resize: none;
  padding-top: 0.6rem;
  font-family: "Nunito";
  height: 5rem;
}

.dropdown-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  position: relative;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.offer-input {
  width: 40%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.addProduct_right {
  width: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
