.tabs {
  width: 100%;
  margin-top: 2px;
  padding-top: 1rem;
  display: flex;
  border-bottom: 1px solid #ccc;

  @media screen and (max-width: 480px) {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.tab__list {
  display: flex;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
  cursor: pointer;
  &-item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    text-transform: capitalize;
  }

  &:hover {
    padding-bottom: 0.5rem;
    color: #4b9ce2;
    border-bottom: 2px solid #4b9ce2;
  }
}

.tab__list-active {
  color: #4b9ce2;
  border-bottom: 2px solid #4b9ce2;
}
